/* Стилизация аккордеона */
.accordion{
    background: #FFFFFF;
    border: 1px solid #ACB5BD;
    box-sizing: border-box;
    border-radius: 8px;
    display: block;
}
.accordion__summary{
    margin: 20px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color:var(--black);
}
.accordion__hidden{
    margin: 20px;
    font-family: Inter;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
}
.accordion__summary::-webkit-details-marker {  /* нестандартный псевдоэлемент Google Chrome */
    display: none;
}
.accordion:last-child {
    margin-bottom: 0;
}


